@model LabResult

<form method="post">
    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Tahlil Sonucunu Sil</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="TestName" class="p-0"></label>
            <input asp-for="TestName" disabled class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 mb-3">
                <label asp-for="Value" class="p-0"></label>
                <input asp-for="Value" disabled class="form-control" />
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Unit" class="p-0"></label>
                <input asp-for="Unit" disabled class="form-control" />
            </div>
        </div>

        <div class="alert alert-danger">
            Bu tahlil sonucunu silmek istediğinize emin misiniz?
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
        <a asp-controller="LabResult" asp-action="Index" asp-route-visitId="@Model.VisitId" class="btn btn-secondary" style="width:150px">Vazgeç</a>
    </div>
</form>